

<div style="margin-left: 5px; margin-right: 5px ;">
    <div class="card done " style="font-size: 18px;">
        Peanut
    </div>
    <div class="card pending" style="font-size: 18px;">
        Vegetables
    </div>
    <div class="card done" style="font-size: 18px;">
        Lays
    </div>
    <div class="card done" style="font-size: 18px;">
        Beer
    </div>
    <div class="d-flex p-3 card pending" >
        <img src="../../assets/images/download.png"  style="width:23px; margin-top: 1px;" >
        
    </div>
    <div class="card pending" style="font-size: 18px;">
        Rice
    </div>
    <div class="card pending" style="font-size: 18px;">
        Flour
    </div>
    <div class="d-flex p-3 card done">
        <img src="../../assets/images/download.png"  style="width:23px; margin-top: 1px;" >
        
    </div>
    
    
</div>