
<div class="card pending d-flex">
    
   
   <div style=" font-size: 22px; padding-top: 3px;">
    <input type="radio">
    Vegetables
   </div>
    
</div>

<div class="card pending d-flex">
    
   <div style=" font-size: 22px; padding-top: 3px;">
    <input type="radio">
    Rice
   </div>

</div>

<div class="card pending d-flex">
    
   <div style=" font-size: 22px; padding-top: 3px;">
    <input type="radio">
    Flour
   </div>
   
</div>

<div class="d-flex p-2 pending card">
    <div style=" padding-top: 3px;">
        <input type="radio">
        <img src="../../assets/images/download.png"  style="width:2em; margin-left: 5px;" >
       </div>  
    
</div>

<div class="d-flex" style="margin-top: 10px; margin-left: 7px;">
    <div class="flex p-2" data-toggle="tooltip" data-placement="right" title="Double click to delete" style="border-radius: 30%; background-color: red;box-shadow: 5px 10px 18px #a3a2a2;" (click)="delete()">
        Delete
    </div>
</div>
